.header {
    &__top {
        @include flex(space-between, center, row);
        margin: 16px auto;
        @media (max-width: 1130px) {
            padding: 0 20px;
        }
    }
    &__nav {
        background-color: $c-bg-gray;
    }
}
.top-header {
    &__mask {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        right: 0;
        top:0;
        display: none;
        z-index: 2
    }
    &__main-btns {
        @include flex(center,center,row);
    }
    &__phone-cont {
        @include flex(center,center,row);
        margin-right: 35px;
    }
    &__phone-text > *:first-child {
        margin-right: 12px;
    }
    &__phone-text {
        @include text-phone;
        @include flex(center,center,row);
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__btns {
        @include flex(center,center,row);
        @media (max-width: 960px) {
            display: none;
        }
    }
    &__write-btn {
        @include main-btn;
        @include btn-top-text;
        padding: 18px 36px;
    }
    &__profile-btn {
        @include flex(center,center,row);
        @include btn-top-text;
        padding: 14px;
    }
    &__profile-btn >*:first-child {
        margin-right: 10px;
    }
}
.burger-menu {
    display: none;
    z-index: 500;
    &__icon {
        @include flex(center,center,column);
        cursor: pointer;
        min-height: 26px;
        min-width: 34px;
        position: relative;
        &::after, &::before {
            content: '';
            background-color: $c-main-blue;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
        }
        &::after {bottom: 1px}
        &::before {top: 1px}
    }
    &__line {
        height: 2px;
        width: 100%;
        background-color: $c-main-blue;
    }
    
    @media (max-width: 960px) {
        display: block;
    }
}
.nav {
    &__content {
        @media (max-width: 960px) {
            display: none;
        }
    }
    &__container {
        @include flex(flex-start, center, row);
    }
    &__item, &__link {
        @include btn-menu-top-text;
    }
    &__link {
        @include flex(center,center,row);
        padding: 20px;
        transition: all .2s ease-in ;
        -webkit-transition: all .2s ease-in ;
        -moz-transition: all .2s ease-in ;
        -ms-transition: all .2s ease-in ;
        -o-transition: all .2s ease-in ;
        &:hover{
            background-color: #ececec;
        }
    }
    &__item {@include flex(center,center,row);}
    &__arrow-icon {
        margin-left: 4px;
        stroke: black;
    }
}
.burger {
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    &_active {
        display: flex;
    }
    
    &__container {
        @include flex(flex-start, center, column);
        background-color: $c-main-blue;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__item, &__link {
        @include btn-menu-top-text;
        color: $c-main-white;
    }
    &__link {
        @include flex(flex-start,center,row);
        padding: 20px;
        width: 100%;
        transition: all .2s ease-in ;
        -webkit-transition: all .2s ease-in ;
        -moz-transition: all .2s ease-in ;
        -ms-transition: all .2s ease-in ;
        -o-transition: all .2s ease-in ;
        &:hover{
            background-color: #0986c0;
        }
    }
    &__item {
        @include flex(flex-start,center,row);
        width: 100%;
    }
    &__arrow-icon {
        margin-left: 4px;
        stroke: white;
    }
    &__phone-text {
        @include text-phone;
        @include flex(center,center,row);
        &:hover {
            text-decoration: underline;
        }
    }
    &__btns {
        @include flex(center,center,row);
        @media (max-width: 360px) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__write-btn {
        @include main-btn;
        @include btn-top-text;
        padding: 18px 36px;
        background-color: #09a1e7;
        @media (max-width: 360px) {
            width: 100%;
        }
    }
    &__profile-btn {
        @include flex(center,center,row);
        @include btn-top-text;
        padding: 14px;
        background-color: #09a1e7;
        @media (max-width: 360px) {
            width: 100%;
        }
    }
    &__profile-btn >*:first-child {
        margin-right: 10px;
    }
}
