.main {
    margin-top: 90px;
    @media (max-width:1160px) {
        padding: 0 20px;
    }
    @media (max-width: 576px) {
        margin-top: 46px;
    }
    &__title {
        margin-bottom: 48px;
        @media (max-width: 576px) {
            font-size: 36px;
        }
        @media (max-width: 410px) {
            line-height: normal;
        }
        @media (max-width: 410px) {
            margin-bottom: 32px;
        }
    }
    &__order {
        padding: 46px 55px 46px 96px;
        box-shadow: $shadow-block;
        @media (max-width: 760px) {
            padding: 46px 55px
        }
        @media (max-width: 410px) {
            padding: 36px 25px
        }
    }
    &__order-title {
        margin-bottom: 30px;
        &_blue {
            color: $c-main-blue;
        }
        @media (max-width: 960px) {
            text-align: center;
        }
        @media (max-width: 576px) {
            text-align: start;
            font-size: 26px;
            line-height: normal;
        }
    }
    &__order-form {
        @include flex(flex-start, flex-start, column);
        @media (max-width: 960px) {
            align-items: center;
        }
        @media (max-width: 576px) {
            align-items: flex-start;
        }
        @media (max-width: 410px) {
            align-items: normal;
        }
    }
    &__inputs-row >*:not(:last-child) {
        margin-right: 14px;
        @media (max-width: 960px) {
            margin-bottom: 14px;
            margin-right: 0;
        }
    }
    &__inputs-row {
        @include flex(flex-start, flex-end, row);
        margin-bottom: 30px;
        @media (max-width: 960px) {
            flex-direction: column;
            align-items: flex-start;
        }
        
    }
    &__input-cont {
        @include flex(flex-start, flex-start, column);
        @media (max-width: 960px) {
            width: 100%;
        }
        @media (max-width: 410px) {
            width: 100%;
        }
    }
    &__input-cont &__input {
        width: 100%;
    }
    &__input-label {
        @include input-header;
        margin-bottom: 8px;
    }
    &__order-btn {
        padding: 15px 68px 16px 68px;
        @media (max-width: 410px) {
            width: 100%;
            padding: 15px 0;
        }
    }
    &__custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__checkbox-label {
        @media (max-width: 410px) {
            font-size: 14px;
        }
    }
    &__custom-checkbox + &__checkbox-label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
    &__custom-checkbox + &__checkbox-label::before {
        content: '';
        height: 24px;
        width: 24px;
        border: 1px solid $c-stroke-input;
        background-color: $c-bg-gray;
        display: inline-block;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    &__custom-checkbox:checked + &__checkbox-label::before {
        background-image: url("../../../public/images/check.svg");
    }
    &__custom-checkbox:focus + &__checkbox-label::before {
        outline: 2.5px solid #099de296;
    }
    
}