// COPY
@mixin text-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $c-main-black;
}
@mixin text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $c-text-gray;
}
// BUTTON
@mixin btn-top-text {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: $c-main-white;
}
@mixin btn-menu-top-text {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: $c-main-black;
}
@mixin main-btn {
    @include btn-top-text;
    cursor: pointer;
    background-color: $c-main-blue;
    border: none;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}
// HEADER
@mixin h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: $c-text-gray;
}
@mixin h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: $c-text-gray;
}
@mixin h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $c-text-gray;
}
// INPUT
@mixin input-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $c-text-gray;
}
@mixin input-header {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $c-text-gray;
}
// FLEX
@mixin flex($jc, $al, $fl) {
    display: flex;
    justify-content: $jc;
    align-items: $al;
    flex-direction: $fl;   
}
