// COLORS
$c-main-black: #000000;
$c-main-blue: #098FCF;
$c-main-white: #FFFFFF;
$c-main-gray: #565656;

$c-text-gray: #C4C4C4;

$c-bg-gray: #F9F9F9;
$c-bg-dark-blue: #043C77;

$c-stroke-input: #D4D4D4;
$c-stroke-table: #E7E7E7;

// SHADOWS
$shadow-block: 0px 4px 30px rgba(0, 0, 0, 0.1);
$shadow-btn: 0px 4px 16px rgba(4, 60, 119, 0.2);