.work {
    padding: 100px 0;
    @media (max-width:1160px) {
        padding: 0 20px;
    }
    @media (max-width: 576px) {
        margin-top: 46px;
    }
    &__title {
        @include h2;
        margin-bottom: 48px;
        @media (max-width: 410px){
            margin-bottom: 22px;
            font-size: 32px;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @media (max-width: 960px) {
            grid-template-columns: repeat(2, 1fr);   
        }
        @media (max-width: 768px) {
            gap: 10px;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;  
        }
    }
    .card {
        padding: 30px;
        background-color: $c-bg-dark-blue;
        &:nth-child(3) {
            @media (max-width: 960px) {
                grid-column: 1/3;
            }
            @media (max-width: 600px) {
                grid-column:auto;
            }
        }
        &:nth-child(3) &__header {
            @media (max-width: 600px) {
                margin-bottom: 30px;
            }
        }
        &:hover &__btn {
            -webkit-transition: transform .2s ease-in;
            -moz-transition: transform .2s ease-in;
            -ms-transition: transform .2s ease-in;
            -o-transition: transform .2s ease-in;
            animation: 1s infinite moveBtn ;
            -webkit-animation: 1s infinite moveBtn ;
        }
        &__header {
            @include flex(space-between, center, row);
            margin-bottom: 30px;
            @media (max-width: 600px) {
                margin-bottom: 10px;
                align-items: flex-start;
            }
            
        }
        &__icon {
            @media (max-width: 600px) {
                height: 46px;
                width: 46px;
            }
        }
        &__action {
            @include flex(center, center, column);
        }
        &__action >*:first-child {
            margin-bottom: 17px;
            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }
        &__time {
            @include btn-menu-top-text;
            color: $c-main-white;
        }
        &__btn {
            transition: transform .2s ease-in;
            -webkit-transition: transform .2s ease-in;
            -moz-transition: transform .2s ease-in;
            -ms-transition: transform .2s ease-in;
            -o-transition: transform .2s ease-in;
        }
        &__title {
            color: $c-main-white;
            font-weight: 500;
            margin-bottom: 24px;
            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }
        &__descr {
            @include text;
            color: $c-main-white;
        }
        &__under-descr {
            color: $c-main-white;
            margin-top: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            @media (max-width: 600px) {
                margin-top: 6px;
            }
        }
    }
}
@keyframes moveBtn {
    0%, 100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
    50% {
        transform: translateX(4px);
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
    }
}