@import "vars.scss";
@import "mixins.scss";
@import "config.scss";

@import "header.scss";
@import "main.scss";
@import "cost.scss";
@import "delivery.scss";
@import "work.scss";
@import "advantages.scss";
@import "sertificates.scss";